.feed
{
    .feed__inputContainer
    {
         background-color: white;
         padding: 10px;
         padding-bottom: 15px;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 600px;
        margin-top: 58px;
        .feed__input
        {
            padding:10px;
            padding-left: 15px;
            display: flex;
            border:0.3px solid lightgray;
            border-radius: 30px;

            form
            {
                display: flex;
                width: 100%;
               margin-top: 10px;
               input
               {
                    border: none;
                    flex:1;
                    margin-left: 10px;
                    outline-width: 0;
                    font-weight: 600;
               }
               button
               {
                   color:brown;
                   background-color: darkkhaki;
                   margin-right: 10px;
               }
            }
           
        }
        .feed__inputOptions
        {
            margin-top: 15px;
            display: flex;
            justify-content: space-evenly;
            padding: 10px;
        }
    }
}